h1{
    background-color:#300509 ;
    color: #ffff;
    text-align:center ;
}
body{
    background-color: #000000;
}
p{
    color: #ffff;
    margin: 0 auto;
    width: 80%;
    height: 30vh;
}

ul :hover{
    text-align: center; 
    background-color: #300509;
    padding: 10px;
}
h2{
    color: #ffff;
    margin: auto;
    text-align: center;
    background-color: #300509;
}
nav{
    background-color: black;
    text-align: center;
}
img{
    align-items: center;
}
img{
    display: block;
  width: 60%;
  margin: auto;

}
